@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.HeaderWrapper {
    background-color: black;
    border-radius: 20px;
    padding: 50px 30px 0px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.headerContet {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.headerContet h1 {
    font-size: 68px;
    line-height: 80px;
    font-weight: 700;
    margin: 10px 0px;
}

.headerContet p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 40px 0px;
}

.headerContet button {
    height: 55px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    transition: transform .5s;
}

.headerContet button:hover {
    transform: translate(50px);
}

.headerContet .fa-chevron-right {
    margin-left: 15px;
}

.headerImage img {
    width: 100%;
    height: 100%;
}

.playersBlogs {
    margin: 80px 0px;
}

.blogsWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.leftsidBlogs {
    width: 24%;
}

.rightsideBlogs {
    width: 74%;
}

.leftsidBlogs ul {
    display: flex;
    background-color: #000;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    border-radius: 5px;
}


.leftsidBlogs ul li {
    list-style: none;
    margin: 5px 0px;
    background-color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    border: 0px solid rgb(214, 214, 214);
}

.leftsidBlogs ul li a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #000;
}

.active {
    background-color: red !important;
}

.active a {
    color: #fff !important;
}

.rightBlogsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.blog {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 30%;
    border: 1px solid rgb(168, 167, 167);
    margin: 0px 0px 20px 0px;
}

.blogContents {
    padding: 19px 15px 15px 15px;
}

.blog a {
    margin: 10px 0px;
    text-decoration: none;
    padding: 6px 10px;
    color: #000;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    width: 70px;
}

.blog h3 {
    margin: 15px 0px;
    font-size: 18px;
}

.blog ul {
    padding-left: 0px;
    display: flex;
    margin: 10px 0px 0px 0px;
}

.blog ul li {
    list-style: none;
    padding-right: 15px;
}
.moreButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }

.moreButton button{
    height: 55px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 7px;
    display: none;
}
.footer{
    background-color: #000;
    padding: 30px 0px;
}
.footerTitle h3{
    color: #fff;
    font-size: 40px;
    margin: 0px;
    padding: 80px 0px;
    text-align: center;
}

hr{
    color: #fff;
}

.footerMenu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0px;
    margin: 0px;

}

.footerMenu ul li{
    list-style: none;
    margin: 10px 15px;
}
.footerMenu ul li a{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.fa-facebook-f {
    background: #9b9b9b66;
    padding: 7px 10px;
    border-radius: 15px;
    color: rgb(128, 128, 128);
    transition: 0.4s;
}
.fa-facebook-f:hover {
    background-color: #fff !important;
    color: #000;
}
.fa-instagram {
    background: #9b9b9b66;
    padding: 7px 9px;
    border-radius: 15px;
}
.fa-instagram:hover {
    background-color: #fff !important;
    color: #000;
}
.fa-twitter {
    background: #9b9b9b66;
    padding: 7px 8px;
    border-radius: 15px;
}
.fa-twitter:hover {
    background-color: #fff !important;
    color: #000;
}


.matchBlog{
    width: 30%;
}

.teamFlags span{
    font-size: 16px;
    font-weight: 700;
}

.teamFlags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.matchBlog {
    width: 26%;
    border: 1px solid #b5b4b4;
    border-radius: 7px;
    padding: 40px 25px;
    text-align: center;
    margin: 10px 0px;
}
.matchBlog p{
    margin: 0px 0px;
    color: rgb(94, 94, 94);
}
.matchBlog h2{
    font-size: 20px;
}

@media (max-width: 600px) {
    .HeaderWrapper {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 30px 0px 30px;
    }

    .headerContet {
        align-items: center;
        text-align: center;
    }

    .headerContet h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .headerContet p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .headerContet button {
        height: 40px;
        width: 160px;
    }

    .leftsidBlogs ul {
        flex-direction: column;
        background-color: transparent;
    }

    .blogsWrapper {
        flex-direction: column;
    }

    .leftsidBlogs {
        width: 100%;
    }

    .leftsidBlogs ul {
        flex-direction: column;
        background-color: transparent;
    }

    .leftsidBlogs ul li {
        margin: 10px 0px;
        border: 1px solid rgb(214, 214, 214);
    }

    .rightsideBlogs {
        width: 100%;
    }

    .blog {
        width: 100%;
    }

    .footerTitle h3{
        color: #fff;
        font-size: 40px;
        margin: 0px;
        padding: 40px 0px;
    }
    .matchBlog{
        width: 100%;
    }
       


}

@media (min-width: 600px) and (max-width: 768px) {
    .HeaderWrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .headerContet {
        align-items: center;
        text-align: center;

    }

    .headerContet h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .headerContet p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .leftsidBlogs ul {
        flex-direction: row;
        background-color: transparent;
    }

    .blogsWrapper {
        flex-direction: column;
    }

    .leftsidBlogs {
        width: 100%;
    }

    .leftsidBlogs ul {
        flex-direction: row;
        background-color: transparent;
    }

    .leftsidBlogs ul li {
        margin: 0px 10px;
        border: 1px solid rgb(214, 214, 214);
    }

    .rightsideBlogs {
        width: 100%;
    }

    .blog {
        width: 48%;
    }
    #blog{
        display: none;
    }
    .moreButton button{
        display: block;
    }
    .matchBlog{
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

    .headerContet h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .headerContet p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .headerContet button {
        height: 45px;
        width: 150px;
        font-size: 14px;

    }

    .blogsWrapper {
        flex-direction: column;
    }

    .leftsidBlogs {
        width: 100%;
    }

    .leftsidBlogs ul {
        flex-direction: row;
        background-color: transparent;
    }

    .leftsidBlogs ul li {
        margin: 0px 10px;
        border: 1px solid rgb(214, 214, 214);
    }

    .rightsideBlogs {
        width: 100%;
    }

    .blog {
        width: 48%;
    }
    #blog{
        display: none;
    }
    .moreButton button{
        display: block;
    }
    .matchBlog{
        width: 40%;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .headerContet h1 {
        font-size: 55px;
        line-height: 70px;
    }
    .matchBlog{
        width: 40%;
    }
}